{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2022 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% if password_alert|length %}
   <div class="alert alert-warning alert-dismissible" role="alert">
      <div class="d-flex mb-2">
         <div>
            <i class="fas fa-exclamation-triangle me-1"></i>
         </div>
         <div>
            {{ password_alert }}
         </div>
      </div>

      <div class="btn-list">
         <a class="btn btn-outline-warning" href="{{ path('/front/updatepassword.php') }} ">
            {{ __('Update my password') }}
         </a>
      </div>
   </div>
{% endif %}

<div class="d-flex justify-content-center" style="background:url(../pics/layout/global_layout_background.png);background-repeat:repeat;background-attachment:fixed;">
   <div class="col">
      <div class="d-flex justify-content-start">
         <img class="w-25" alt="BPS Banner" src="../pics/logos/logo-GLPI-250-black_bps.png"/>
      </div>
   </div>
   <div class="col-5">
      <div class="d-flex justify-content-center">
         <img class="w-50" alt="HaloSIS Quote" src="../pics/layout/global_layout_quote.png"/>
      </div>
   </div>
   <div class="col">
      <div class="d-flex justify-content-end">
         <h1 style="font-family:mistral;font-size:2.4vw">#WeCare</h1>
      </div>
   </div>
 </div>

<table class="central">
   {{ call_plugin_hook(constant('Glpi\\Plugin\\Hooks::DISPLAY_CENTRAL')) }}
</table>

{% set optional_grid_item_keys = [
   'survey_list', 'reminder_list', 'rss_feed', 'kb_popular', 'kb_recent', 'kb_lastupdate'
] %}
{% set grid_items = [
   ticket_summary
] %}
{% set survey_list_empty%}
   <div class="card-body">
      <div class="card-title d-flex justify-content-between">
         <a href="#"><span><i class="ti ti-star"></i> Survei Kepuasan</span></a>
         <span class="primary-bg primary-fg count my-n2 p-2 row align-items-center">0</span>
      </div>
   </div>
   <ul class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="#">
         Luar biasa! Saat ini Anda sudah mengisi semua survei kepuasan!</a>
      {% for i in 0..5 %}
         <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="#">&nbsp;</a>
      {% endfor %}
   </ul>
{% endset %}

{% for optional_grid_item_key in optional_grid_item_keys %}
   {% set item_content = _context[optional_grid_item_key] %}
   {% if item_content is not empty %}
      {% set grid_items = grid_items|merge([
         '<div class="card">' ~ item_content ~ '</div>'
      ]) %}
   {% endif %}
{% endfor %}

{% if _context['survey_list'] is empty %}
   {% set grid_items = grid_items|merge([
      '<div class="card">' ~ survey_list_empty ~ '</div>'
   ]) %}
{% endif %}

{{ include('components/masonry_grid.html.twig', {
   'grid_items': grid_items,
}, with_context = false) }}
