{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2024 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% extends 'layout/page_card_notlogged.html.twig' %}

{% block content_block %}
   <form action="{{ path('front/login.php') }}" method="post" autocomplete="off"  data-submit-once>
      <input type="hidden" name="noAUTO" value="{{ noAuto }}" />
      <input type="hidden" name="redirect" value="{{ redirect }}" />
      <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />

      <div class="row justify-content-center align-items-middle my-4">
         <div class="col-md">
            <div class="d-flex justify-content-center my-4">
               <img class="w-50" alt="BPS Banner" src="pics/logos/logo-GLPI-250-black_bps.png"/>
            </div>
         </div>
         <div class="col-md-5">
            <div class="d-flex justify-content-center my-5">
               <img alt="HaloSIS Quote" src="pics/layout/global_layout_quote.png"/>
            </div>
         </div>
         <div class="col-md">
            <div class="d-flex justify-content-center my-4">
               <h1 style="font-family:mistral;font-size:2.5vw">#WeCare</h1>
            </div>
         </div>
         <div class="d-flex justify-content-center mx-4 my-4">
            <input value="Login SSO BPS" formaction="#" class="w-50 input-md submit btn btn-primary" onclick="window.location.href='?SSO=1'{{ app.request.request.get("redirect_login_sso_bps") }}"/>
         </div>
            {% if errors|length > 0 %}
               <hr />
               <div class="alert alert-danger text-dark" role="alert">
                  {{ errors }}
               </div>
            {% endif %}

         {% if right_panel %}
            <div class="col-auto px-2 text-center">
               {% if text_login|length > 0 %}
                  <div class="rich_text_container">
                     {{ text_login|safe_html }}
                  </div>
               {% endif %}

               {% if config('use_public_faq') %}
                  <hr />

                  <a class="btn btn-outline-secondary btn-icon" href="front/helpdesk.faq.php">
                     <i class="fas fa-question"></i>&nbsp;
                     {{ __('FAQ') }}
                  </a>
               {% endif %}

               {{ call_plugin_hook(constant('Glpi\\Plugin\\Hooks::DISPLAY_LOGIN')) }}
            </div>
         {% endif %}
      </div>
   </form>
{% endblock %}

{% block footer_block %}
   {{ copyright_message|raw }}
{% endblock %}

{% block javascript_block %}
<script type="text/javascript">
   $(function () {
$('#login_name').focus();
});

</script>
{% endblock %}
